* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    grid-template-areas: 
    'title title title'
    'content content content'
    'bottom bottom bottom';

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 200px 4fr 200px;
}

.title {
    display: flex;
    grid-area: title;
    padding: 10px;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
}

td, th {
    padding: 20px;
}

.header {
    font-size: larger;
    font-weight: bold;
}

.bottom {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    
}

.buttonHolder {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 100px;
}

#overlay {
    background-color: gray;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    min-width: 30%;
    min-height: 50%;
    position: absolute;
    left: 35%;
    top: 20%;
}
