* {
  box-sizing: border-box;
}

.headerBox {
  background-color: #F55A5A;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBox > p {
  width: 109px;
  height: 16px;
  left: 225px;
  top: 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  padding-bottom: 20px;

  color: #FFFFFF;
}

.card {
  display: flex;
}

.card > img {
  /* position: absolute; */
  width: 126px;
  height: 168px;
  left: 39px;
  top: 304px;

  background: url(.png);
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  /* border: solid 2px black; */
}

.info > * {
  margin-right: auto;
}

.location {
  display: flex;
  align-items: center;
}

.location > p {
  /* position: absolute; */
  width: 72px;
  height: 10px;
  left: 195px;
  top: 316px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.location > a {
  /* position: absolute; */
  width: 106px;
  height: 10px;
  left: 279px;
  top: 316px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #918E9B;
}

h3 {
  position: absolute;
  width: 326px;
  height: 33px;
  left: 116px;
  /* top: 333px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.dates {
  position: relative;
  /* width: 319px; */
  height: 11px;
  left: 16px;
  /* top: 380px; */
  padding-top: 18px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}

.desc {
  /* position: absolute; */
  width: 326px;
  height: 60px;
  left: 184px;
  top: 400px;

  padding-left: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  text-align: left;

  color: #2B283A;
}